.profile-header {
    transform: translateY(5rem);
}

body {
    background: #f2f2f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

.header {
    background: linear-gradient(to right, #f2f2f2, #3AD88D);
    padding: 10px;
    text-align: center;
    text: #3AD88D
}

#navbar {
    overflow: hidden;
    width: 47%;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.font-sh-1 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
}
.headTitle {
    font-family: 'Sofia';
}

.round-img {
    border-radius: 50%;
}

#slide {
    width: 50%;
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

.post-text{
    font-family: 'Lora';
    
}

.postImages {
    padding: 5px;
    width: 200px;
    height: 180px;
}
